@use 'colors' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
body {
    background-color: var(--clr-grey-900);
    font-family: 'Roboto', sans-serif;
    color: var(--clr-grey-400);
}

.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5rem auto 0 auto;
    border: 2px solid rgba(60, 60, 60, 0.8);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--clr-grey-900);
    position: relative;
    height: 6rem;
    width: 60rem;


    &:focus-within {
        border: 2px solid var(--clr-blue-900);
    }
    .input-container {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: calc(100% - 4rem);

        // background-color: blue;

        .label {
            position: absolute;
            top: 50%;
            left: 2rem;
            transform: translateY(-50%);
            font-size: 2rem;
            font-weight: bold;
            color: var(--clr-grey-400);
            background-color: var(--clr-grey-900);
            opacity: 0;
            visibility: hidden;
            transition: all 0.6s ease-in;
            font-family: inherit;
        }
        #input {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            padding: 1rem 2rem;
            outline: none;
            width: 100%;
            border: none;
            font-size: 1.8rem;
            font-weight: bold;
            background-color: transparent;
            color: var(--clr-grey-400);
            border-radius: 1rem;
            font-family: inherit;

            &:not(:placeholder-shown) + .label {
                opacity: 1;
                visibility: visible;
                transform: translateY(-3.8rem);
                font-size: 1.6rem;
            }
        }
    }

    .fas {
        margin: 0 1rem;
        font-size: 2rem;
        color: var(--clr-grey-400);
        position: absolute;
        right: 0;
    }
}
.full-image{
    width: 100px;
    height: 100px;
}

.dropdown-container {
    margin: 5rem auto 0 auto;
    width: 60rem;
    border: 2px solid rgba(60, 60, 60, 0.8);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
    padding: 2rem 4rem;
    border-radius: 1rem;
    display: none;

    .dropdown-item {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 2rem;

        &:not(:last-child) {
            border-bottom: 1px solid var(--clr-grey-500);
            padding: 0 0 1.5rem 0;
        }

        img {
            width: 8rem;
            border-radius: 1rem;
            border: 1.5px solid var(--clr-blue-900);
        }
        .heading{

            &:hover{
                cursor: pointer;
                color: var(--clr-blue-600);
            }
        }
    }


}
.full-cont{
    margin: 2.5rem 0 0 0;
    display: flex;
    padding: 2rem 4rem;
    justify-content: center;
    align-items: center;

    .mealname{
        font-size: 2.5rem;
        text-align: center;
        padding: 1rem;
        color: var(--clr-orange-600);
    }
    img{
        width: 40%;
        border-radius: 1rem;
        border: 1px solid var(--clr-blue-600);
    }    
    .ingredients{
        max-width: 70rem;
        line-height: 1.6;
        font-size: 1.5rem;
        text-align: justify;
        margin-left: 2rem;

    }
    .link{
        padding: 1rem 2rem;
        display: block;
        border-radius: 1rem;
        margin: 2rem  auto 0 auto;
        background-color: var(--clr-red-900);
        // box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
        transition: all 0.3s ease-in;
        outline: none;
        border: none;

        &:hover{
            cursor: pointer;
            background-color: var(--clr-red-700);
            box-shadow: none;
            border: 1px solid #FDD2BF;
        }


        a{
            text-decoration: none;
            color: #FDD2BF;
        }

    }
 }
.error {
    position: fixed;
    bottom: 3rem;
    left: 2rem;
    padding: 2rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: 2px solid rgba(60, 60, 60, 0.8);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(3rem);
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease-in;
    font-family: inherit;
    color: var(--clr-grey-400);

    &.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    }
}


